# Unity 관련 폴더 무시하기
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Oo]bj/
[Uu]serSettings/
MemoryCaptures/
Assets/AssetStoreTools*

# Visual Studio / JetBrains Rider 관련 파일 무시하기
.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Git 관련 무시 (의도치 않은 커밋 방지)
*.gitignore.swp

# Mac / 시스템 관련 파일 무시
.DS_Store
Thumbs.db

# Unity 로그 및 분석
Logs/
sysinfo.txt
